*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
img{
    width: 100%;    
    height: 100%;
    mix-blend-mode: overlay;
}
.montarImg{
    width: 30rem;
    height: 30rem;
    margin: auto;
    position: relative;
}

 .sobreponer{
     position: absolute;
     top: 0;
     left: 0;
 }
 .sobreponer{
     object-fit: fill;
     object-position: center;
 }
/* .montarImg > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: darken;
}
*/