*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
}
.spinner{
    margin: auto;
    width: 20vh;
    height:20vh;
    border: thick solid rgba(224, 9, 9, 0.082);
    border-radius: 50%;
    border-top-color:brown;
    margin-left: auto;
    animation: spinner 2s ease-in-out infinite;
}
@keyframes spinner{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);

    }
}