*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.apple_container{
    width: 20rem;
    height: 20rem;
    margin: auto;
    border: thick solid rgba(0, 0, 255, 0.425);
    cursor: pointer;
    transition: all 1s ease-in-out;

    position: relative;
    perspective:10rem;
    transform-style: preserve-3d;
}
.apple_container:hover{
    transform: rotateY(180deg);
}
/*ojo no funciona con img sin fondo*/
.apple_wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    backface-visibility: hidden;
    
    
}
.apple_wrap .caja{  
    position: absolute;
    border-radius: 5px;
    font-family: sans-serif;
    color: white;
    padding: 0.5rem 1rem;  
}




.apple_wrap > img{    
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    
}
.apple_from{
    background-image: url(../asset/manzana_front.jpg), linear-gradient(rgb(219, 166, 166), rgb(0, 0, 172));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    transform: rotateY(0deg);
}

.apple_back{
    background-image: url(../asset/manzana_back.png), linear-gradient(rgb(219, 166, 166), rgb(0, 0, 172));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;


    transform: rotateY(180deg);
}
.apple_from > .caja{
    -webkit-backdrop-filter: blur(6rem);
    background-color: #ff00008a;
    backdrop-filter: blur(0rem); 
}
.apple_back > .caja{
    background-color: #00800080;
    /* filter:sepia(.2) brightness(.8) drop-shadow(-1px 0px 4px rgba(0, 0, 0, 0.7))
    ; */
    -webkit-backdrop-filter: blur(6rem);
    backdrop-filter: blur(0rem);
    
}
